@{ 
    Layout = "~/inc/_layout.cshtml";
}
<div class="wrapper">

    @{ 
        bool apresentar_formulario = true;
        bool avancar = true;

        if (IsPost)
        {
            //tratamento dos dados para criar nova conta

            string utilizador = Request["text_utilizador"];
            string password_1 = Request["text_password_1"];
            string password_2 = Request["text_password_2"];

            //-----------------------------------------------------------
            //verificações - verifica se os campos foram preenchidos
            if (utilizador == "" || password_1 == "" || password_2 == "")
            {
                <p>Por favor insira todos os dados necessários.</p>
                avancar = false;
            }

            //-----------------------------------------------------------
            //verifica se as passwords correspondem
            if (avancar)
            {
                if (password_1 != password_2)
                {
                    <p>As passwords não correspondem.</p>
                    avancar = false;
                }
            }

            //-----------------------------------------------------------
            //verificar se o utilizador já se encontra registado
            if (avancar)
            {
                Database bd = Database.Open("forum");
                var dados = bd.Query("SELECT * FROM utilizadores WHERE nome = @0", utilizador);

                if (dados.Count() != 0)
                {
                <p>Já existe um utilizador com o mesmo nome.</p>
                    avancar = false;
                }
            }

            //-----------------------------------------------------------
            if (avancar)
            {
                //registo do utilizador na base de dados

                //id_utilizador disponível
                Database bd = Database.Open("forum");
                var id_disponivel = bd.QueryValue("SELECT MAX(id_utilizador) FROM utilizadores");


                //tipo_utilizador = 0 -> ADMIN
                //tipo_utilizador = 1 -> MEMBRO
                int tipo_utilizador = 1;

                if ((object)id_disponivel == DBNull.Value)
                {
                    id_disponivel = 0;
                    tipo_utilizador = 0;
                }
                else
                {
                    id_disponivel++;
                }

                //gravar o utilizador na base de dados
                encriptar enc = new encriptar();
                string password_encriptada = enc.CriarMD5(password_1);
                bd.Execute("INSERT INTO utilizadores VALUES(@0, @1, @2, @3)", 
                           id_disponivel, 
                           utilizador, 
                           password_encriptada,
                           tipo_utilizador);

                //indica que foi gravado com sucesso e apresenta ligação para a página inicial
                <p>Utilizador registado com sucesso.</p>
                <a href="Default.cshtml" >Voltar</a>
                apresentar_formulario = false;
            }
        }

        //-----------------------------------------------------
        //apresentar o formulário de criação da nova conta
        if (apresentar_formulario)
        {
            <h2>CRIAR NOVA CONTA DE UTILIZADOR</h2>
            <form method="post" action="">

                <p>Nome de utilizador:</p>
                <input type="text" name="text_utilizador" size="30" maxlength="30" />

                <p>Password:</p>
                <input type="password" name="text_password_1" size="30" maxlength="30" />

                <p>Reintroduza a password:</p>
                <input type="password" name="text_password_2" size="30" maxlength="30" />

                <p></p>
                <input type="submit" value="Criar nova conta" />

            </form>
            }

        }

</div>