@{
    Layout = "~/inc/_layout.cshtml";
 }

<div class=" wrapper">

            @{ 
        bool apresentar_formulario = true;
        bool avancar = true;

        if (IsPost)
        {
            //tratamento dos dados para criar nova conta

            string utilizador = Request.Form["text_utilizador"];
            string password_1 = Request.Form["text_password_1"];
            string password_2 = Request.Form["text_password_2"];


            // VERIFICA SE OS CAMPOS FORAM PREENCHIDOS
            if (utilizador == "" || password_1 == "" || password_2 == "")
            {
                <p>Por favor! Insira todos os campos</p>

                avancar = false;
            }

            //verifica se as senhas correspondem

            if (avancar)
            {
                if (password_1 != password_2)
                {
                    <p>As senhas devem corresponder</p>

                    avancar = false;
                }
            }

            //verificar se usuário já tem cadastro
            if (avancar)
            {
                Database bd = Database.Open("forum");
                var dados = bd.Query("SELECT * FROM utilizadores WHERE nome = @0", utilizador);

                if (dados.Count() != 0)
                {
                    <p>Já existe usuario com esse mesmo nome</p>
                    
                    avancar = false;
                }

            }

            //***********************************
            if (avancar)
            {
                //registro do usuario no banco
                encriptar enc = new encriptar();
                string password_encriptada = enc.CriarMD5(password_1);
                Database bd = Database.Open("forum");
                int contador = bd.QueryValue("select count(*) from utilizadores ");
                bd.Execute("INSERT INTO utilizadores (id_utilizador,nome , palavra_passe) values (@0,@1,@2)", contador, utilizador, password_encriptada);



                <p>teste</p>

            }
        }
        // apresentar o formmulario de criação da nova conta
        if (apresentar_formulario)
        {
            <h2> Criar Nova Conta de Usuário</h2>
            <form method="post" action="">

                <p>Nome de usuario</p>
                <input type="text" name="text_utilizador" size="30" maxlength="30" />

                <p>Password</p>
                <input type="text" name="text_password_1" size="30" maxlength="30" />

                <p>Reinsira o Password</p>
                <input type="text" name="text_password_2" size="30" maxlength="30" />

                <p></p>
                <input type="submit" value="Criar nova conta" />

            </form>
        }
    }

</div>

