@{
    Layout = "~/inc/_layout.cshtml";
}

<div class="wrapper">

    @{ 

        //verifica se já existe um utilizador ativo
        if (Session["user"] != null)
        {
            <p>O utilizador @Session["user"] está ativo.</p>
            <p>Clique <a href="~/logout.cshtml">AQUI</a> para sair da sessão.</p>
        }
        else
        {
            <form method="post" action="~/login_verificar.cshtml">
                <p>Utilizador:</p>
                <input type="text" name="text_utilizador" size="30" maxlength="30"/>

                <p>Password:</p>
                <input type="password" name="text_password" size="30" maxlength="30" />

                <p><input type="submit" value="Entrar" /></p>
            </form>
        }

    }

</div>