@{
    Layout = "~/inc/_layout.cshtml";
}

<div class="wrapper">

    @{ 
        if (!IsPost)
        {
            //redireciona para a página inicial
            Response.Redirect("~/Default.cshtml");
        }


        bool avancar = true;

        //valores das variáveis do formulário de login
        string utilizador = Request["text_utilizador"];
        string password = Request["text_password"];

        if (utilizador == "" || password == "")
        {
            <p>Preencha os campos corretamente.</p>
            <a href="~/login.cshtml">Voltar</a>
            avancar = false;
        }

        if (avancar)
        {
            encriptar enc = new encriptar();
            string pass = enc.CriarMD5(password);

            //ligação à base de dados
            Database bd = Database.Open("forum");
            var dados = bd.Query("SELECT * FROM utilizadores " +
                "WHERE nome = @0 " +
                "AND palavra_passe = @1",
                utilizador,
                pass
                );

            if (dados.Count() != 0)
            {
                //login com sucesso.
                Session["user"] = dados.FirstOrDefault().nome;
                Session["id_user"] = Convert.ToInt16(dados.FirstOrDefault().id_utilizador);
                Session["admin"] = false;

                //verifica se o utilizador é administrador do forum
                if (!Convert.ToBoolean(dados.FirstOrDefault().tipo_utilizador))
                {
                    Session["admin"] = true;
                }
                <p>Bem-vindo, @Session["user"] .</p>
                <p><a href="~/Default.cshtml">Voltar</a></p>
            }
            else
            {
                //login não sucedido
                <p>O utilizador não existe, ou a password está errada.</p>
                <p><a href="~/login.cshtml">Voltar</a></p>
            }
        }

    }

</div>
