@{
    Layout = "~/inc/_layout.cshtml";
}

<div class="wrapper">
    @{
        //verifica se já existe um usuario aqui
        if (Session["user"] != null)
        {
            <p>O usuario @Session["user"] está ativo</p>
            <p>Clique em <a href="~/inc/logout.cshtml">Aqui</a>
    para sair da sessão</p>
        }
        else
        {
            <form method="post" action="">
                <p>utilizador</p>
                <input type="text" name="text_utilizador" size="30"
                       maxlength="30"/>
                <p>Password</p>
                <input type="password" name="text_password" size="30"
                       maxlength="30" />
                <p><input type="submit" value="Entrar"/> </p>
            </form>
        }
    }
    
</div>