<!DOCTYPE html>
<html>
    <head>
        <title>Micro Fórum</title>
        <link href="~/styles/main.css" rel="stylesheet" />
    </head>
    <body>
        

        @RenderPage("_header.cshtml")
        @RenderPage("~/Script/code.js")
        @RenderBody()
        @RenderPage("_footer.cshtml")
        
    </body>
</html>
