<div class="footer">
    <div class="footer_webmaster">
        <a href="mailto:danilo.slima@hotmail.com">E-mail</a>          |
        <a href="https://www.linkedin.com/in/danilo-lima-029bb8142/"> Linkedin</a> |
        <a href="https://github.com/dannslima"> Danilo Lima</a>
    </div>
</div>