body {
    margin: 0px;
    padding: 0px;
    
}


.header {
    padding: 10px;
    background-color: rgb(65,105,225);
    display: flex;
}

.header_logotipo{
    flex: 0 0 50%;
}

.header_links {
    flex: 1;
    
    }

.header_menu {
    background-color: white;
    text-align: center;
    float: right;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 1.4em;
}



a:link {
    text-decoration: none;
    
} 


.wrapper{
    width: 70%;
    background-color: white;
    color: black;
    margin: auto;
    padding: 5px;
}


.post_main{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(220,220,220);    
}

.post_titulo{
    font-size: 1em;
    font-weight: bold;
    color: cornflowerblue;
    padding-left: 10px;
    padding-top: 3px;
}

.post_mensagem{
    font-size: .8em;
    color: rgb(100,100,100);
    padding-left: 10px;
}

.post_info{
    font-size: .6em;
    color: rgb(150,150,150);
    padding-left: 10px;
    padding-bottom: 3px;
}

.post_links{
    font-size: .6em;
    padding-left: 10px;
    padding-bottom: 3px;
}


.footer {
    padding: 10px;
    background-color: rgb(65,105,225);
    position: absolute;
    bottom:0;
    width:100%;
}

.footer_webmaster{
    text-align: center;
    margin: auto;
    width: 40%;
}
